header {
  text-align: center
}

#search {
  margin-left: 40%; 
  padding: 15px;
}

#map {
  margin-left: 25%;
  padding: 5px;
  border: solid black 5px;
}

#all {
  margin: 0px auto;
  width: 90%;
}

section {
  display: inline-grid;
  width: 20%;
  border-style: groove;
  margin: 5px;
  background-color: #FFF;
  display: inline grid;
}